{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ page.title }}

{% set breadcrumbs = collections.all | eleventyNavigationBreadcrumb(title)| toGovukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: breadcrumbs,
  collapseOnMobile: true
}) }}
