{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% if eleventyNavigation.key %}
  {%
    set breadcrumbs = collections.all
    | eleventyNavigationBreadcrumb(eleventyNavigation.key)
    | toGovukBreadcrumbs
  %}

  {{ govukBreadcrumbs({
    items: breadcrumbs,
    collapseOnMobile: true
  }) }}
{% endif %}
