---
layout: page
title: Home
eleventyNavigation:
    key: Home
---

<h2 class="govuk-heading-l">Welcome to the eleventy-govuk test</h2>

<p class="govuk-body">This project tests the static site generator Eleventy and the gov.uk design system.</p>